name: Create and upload executables to the release assets

on:
  release:
    types:
    - created

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
        node-version:
          - 12.x
        architecture:
          - x64

    name: Using Node ${{ matrix.node_version }} - ${{ matrix.architecture }} on ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build executables using Node ${{ matrix.node-version }} on ${{ matrix.os }} ${{ matrix.architecture }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          architecture: ${{ matrix.architecture }}

      - run: npm i
      - run: npm run build

      - name: Upload executables to release assets
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/*
